:root {
  --color-primary: #f13c6e;
  --color-secondary-light: #828282;
  --color-secondary-dark: #333333;
  --color-black: #000000;
  --color-white: #ffffff;
  --plh-color-gray: #c4c4c4;
  --bg-color-gray: #efefef;
  --border: 1px solid var(--bg-color-gray);
}
.feedback__phone,
.navbar-primary__link {
  font-size: 1rem;
  color: var(--color-black);
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
body {
  background-color: var(--bg-color-gray);
  color: var(--color-secondary-dark);
  font-size: 0.875rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  min-height: 40px;
  padding: 0.25em 1em;
  border-radius: 40px;
  border-width: 2px;
  border-style: solid;
}
.btn--primary {
  border-color: var(--color-primary);
  background-color: var(--color-white);
}
.btn--secondary {
  border-color: var(--color-white);
  background-color: var(--color-primary);
}
.navbar-info,
.navbar-primary {
  background-color: var(--color-white);
}
.container {
  width: min(100% - 40px, 1110px);
  margin-inline: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.navbar-secondary {
  padding: 7px 0;
}
.navbar-secondary__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 10px;
}
.navbar-secondary__link {
  display: block;
  padding: 10px;
}
.navbar-info {
  padding: 20px 0;
  margin-bottom: 1px;
}
.navbar-info__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedback {
  display: flex;
  align-items: center;
  gap: 10px 40px;
}
.navbar-primary {
  padding: 18px 0;
}
.navbar-primary__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 20px;
}
.navbar-primary__link {
  display: block;
  padding: 10px;
}
.hero {
  min-height: 604px;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 192px 0;
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 89% 50%;
  margin-bottom: 80px;
}
.hero__content {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero__title {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}
.hero__description {
  line-height: 1.43;
}
.special__container,
.viewed__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.special__container {
  margin-bottom: 101px;
}
.viewed__container {
  margin-bottom: 80px;
}
.special__title,
.viewed__title {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-black);
  margin-bottom: 38px;
}
.special-item,
.viewed-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 255px;
  min-height: 363px;
  background-color: var(--color-white);
  padding: 25px 0;
}
.special-item__text,
.viewed-item__text {
  line-height: 1.43;
  color: var(--color-secondary-dark);
  max-width: 195px;
  text-align: center;
}
.special-item__price,
.viewed-item__price {
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  color: var(--color-black);
  text-align: center;
  margin: 12px 0;
}
.special__button,
.viewed__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 130px;
  min-height: 35px;
  padding: 0.25em 3em;
  border-radius: 20px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
}
.subscribe__container {
  display: flex;
  gap: 30px;
  margin-bottom: 103px;
}
.subscribe-gift,
.subscribe-shops {
  min-height: 212px;
  background-color: var(--color-primary);
  color: var(--color-white);
  flex-basis: 50%;
}
.brands__item,
.category,
.navbar-lower {
  background-color: var(--color-white);
}
.subscribe-gift__container,
.subscribe-shops__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 45px 35px 40px;
}
.subscribe-gift__field,
.subscribe-shops__button {
  min-height: 35px;
  padding: 0.5em 1.5em;
  display: flex;
}
.subscribe-gift__title,
.subscribe-shops__title {
  font-weight: 700;
  font-size: 1.125rem;
  max-width: 250px;
  margin: 0 0 20px;
}
.subscribe-gift__text {
  line-height: 1.43;
  max-width: 231px;
  margin-bottom: 25px;
}
.subscribe-gift__field {
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-white);
  width: 225px;
  border-radius: 40px;
}
.subscribe-gift__field::placeholder {
  color: var(--plh-color-gray);
}
.subscribe-gift__field:active,
:focus,
:hover {
  outline: 0;
  outline-offset: 0;
}
.subscribe-shops__text {
  line-height: 1.43;
  max-width: 141px;
  margin-bottom: 25px;
}
.subscribe-shops__button {
  align-items: center;
  justify-content: center;
  width: 170px;
  border-radius: 40px;
  border: 2px solid var(--color-white);
  color: var(--color-white);
}
.brands__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 75px;
}
.brands__item {
  padding: 35px 63px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category {
  min-height: 372px;
  padding: 47px 0;
  margin-bottom: 1px;
}
.category__container {
  display: flex;
  gap: 30px;
}
.category__content {
  width: 255px;
}
.category__title {
  max-width: 99px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.38;
  color: var(--color-black);
  margin-bottom: 23px;
}
.category__link,
.copyright__name,
.copyright__politics {
  font-size: 0.75rem;
  color: var(--color-secondary-light);
}
.category__list {
  border-top: 1px solid var(--bg-color-gray);
  list-style: none;
  margin: 0;
  padding: 25px 0 0;
}
.category__link {
  line-height: 2.3;
}
.navbar-lower {
  min-height: 120px;
  padding: 37px 0 38px;
}
.navbar-lover__content {
  display: flex;
  justify-content: space-between;
}
.navbar-lover__container {
  display: flex;
  gap: 20px;
}
.copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
}
@media (max-width: 768px) {
  .navbar-info__container {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .feedback {
    flex-direction: column;
  }
}
